.cart-opened,
.cart-closed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    box-shadow: 1px -1px 20px 1px #9cb2be;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cart-opened {
    opacity: 1;
    display: flex;
    flex-direction: column;
    max-height: 85%;
    transition: max-height 0.4s ease-in;
    border-bottom: 1px solid #9cb2be;
}

.cart-closed {
    max-height: 0;
    transition: max-height 0.4s ease-out;
    height: 100%;
}

.cart-closed .cart {
    opacity: 0;
    transition-delay: 0.5s;
}

.cart-closed .cart>* {
    display: none;
    /* transition-delay: 0.5s; */
}

.cart-opened .cart {
    opacity: 1;
    transition-delay: 0.5s;
}

.cart-opened-overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
    position: fixed;
    top: 0;
    left: 0;
    /* transition-delay: 0.75s; */
}

.cart-header {
    font-family: Indie Flower;
    font-size: x-large;
    text-align: center;
    font-weight: 600;
    color: #9cb2be;
    margin: 35px;
}

.cart-items {
    font-family: 'Roboto Mono', monospace;
    margin: 0px 15px;
    background-color: rgb(156 178 165 / 5%);
    padding: 10px;
}

.cart-items .cart-items-header>ul,
.cart-items .cart-items-list>ul {
    padding: 0;
    margin: 0;
}

.cart-items .cart-items-list>li .cart-item-name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.cart-items .cart-items-header,
.cart-items .cart-items-list {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.cart-items .cart-items-header {
    padding-bottom: 15px;
    border-bottom: 1px dashed #000;
}

.cart-items .cart-items-list-total {
    padding-top: 15px;
    border-top: 1px dashed #000;
    font-size: 14px;
    margin: 10px 10px;
    display: flex;
    justify-content: flex-end;
}

.cart-items .cart-items-list,
.cart-items .cart-items-empty {
    font-size: 14px;
}

.cart-items .cart-items-empty {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.cart-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
    flex: 1;
}

.cart-footer .cart-footer-actions {
    margin: 0px 15px;
    text-align: center;
}

.cart-footer .cart-footer-actions>a {
    background-color: #9CB2A5;
    padding: 15px;
    margin: 0 15px;
    font-family: Indie Flower;
    color: #FFF;
    font-size: large;
    font-weight: 500;
    border-radius: 5px;
}

.cart-footer .cart-footer-actions>a>svg {
    color: #FFF;
    margin-right: 10px;
}

.cart-footer .cart-footer-actions>p:first-child {
    margin-bottom: 10px;
}

.cart-footer .cart-footer-actions>p {
    font-family: Indie Flower;
    color: #9CB2A5;
    font-size: large;
    font-weight: 500;
    margin: 0;
}

.cart-footer .cart-footer-close {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #9cb2be;
    margin: 30px 0px 10px 0px;
}


/* OLD  */

.carrinho-box-hidden {
    display: none;
}

.carrinho-box {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 25px;
    border-radius: 100px;
    background-color: #9CB2A5;
    height: 65px;
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carrinho-box svg {
    position: absolute;
}

.carrinho-box .carrinho-items {
    background-color: rgb(244 67 54);
    border-radius: 100px;
    height: 25px;
    width: 25px;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -25px;
    right: -15px;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
}

.carrinho-box svg {
    color: #FFF;
}