.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 15px;
}

.options {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

.option-link {
    font-family: 'Pompiere';
    font-size: x-large;
    text-align: center;
    background-color: #a4baaf;
    padding: 20px;
    margin: 0 50px 35px 50px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.main-text {
    font-family: 'Nunito Sans';
    font-size: x-large;
    color: #3d3d3d;
    text-align: center;
}

#paginaInicial img {
    height: 75%;
    width: auto;
    max-width: 75%;
    max-height: 75%;
    border-radius: 5px;
    box-shadow: -1px 1px 12px 0px rgb(97 97 97 / 80%);
}