.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 15px;
}

.options {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.option-link {
    font-family: Indie Flower;
    font-size: x-large;
    text-align: center;
    background-color: #9CB2A5;
    padding: 30px;
    margin: 0 50px 35px 50px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.main-text {
    font-family: Indie Flower;
    font-size: x-large;
    color: #8BA4B3;
    text-align: center;
}