p {}

.carrinho-box {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 25px;
    border-radius: 100px;
    background-color: #8BA4B3;
    height: 65px;
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrinho-box svg {
    position: absolute;
}

.carrinho-box .carrinho-items {
    background-color: rgb(244 67 54);
    border-radius: 100px;
    height: 25px;
    width: 25px;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -25px;
    right: -15px;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
}

.carrinho-box svg {
    color: #FFF;
}

.presente-box {
    font-family: Indie Flower;
    background-color: #FFF;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid #9CB2A5;
    border-radius: 50px;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px; */
    box-shadow: -1px 0px 5px 1px rgb(156 178 165 / 40%);
}

.presente-box>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.presente-box .presente-header {
    font-size: x-large;
    font-weight: 600;
    color: #9CB2A5;
    margin: 15px;
}

.presente-box .presente-foto>img {
    height: 125px;
    width: 125px;
    border-radius: 100px;
    box-shadow: -1px 1px 8px 0px rgb(0 0 0 / 40%);
}

.presente-box .presente-valor {
    font-size: large;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #9CB2A5;
}

.presente-box .presente-actions {
    margin: -2px;
    background-color: #9CB2A5;
    height: 50px;
    color: #FFF;
    font-size: x-large;
    font-weight: 600;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.presente-box .presente-actions svg {
    margin: 0px 8px 2px 0px;
}

a {
    text-decoration: none;
}

.alert-closed {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
}

.alert-closed .alert-adicionar-item {
    opacity: 0;
    transition: opacity 0.3s;
}

.alert-opened {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    opacity: 1;
    transition: opacity 1s;
    background-color: rgb(0, 0, 0, 0.3);
}

.alert-closed .alert-adicionar-item,
.alert-opened .alert-adicionar-item {
    background-color: #FFF;
    position: fixed;
    top: 15px;
    border-radius: 5px;
    height: 100px;
    box-shadow: inset 0px 0px 0 4px rgb(156 178 165 / 30%);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
}

.alert-adicionar-item>svg {
    margin-top: 10px;
    color: #9CB2A5;
}

.alert-adicionar-item>p {
    color: #9CB2A5;
    margin-top: 8px;
}