.presente-box {
    font-family: Indie Flower;
    background-color: #FFF;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid rgb(139 164 179 / 50%);
    box-shadow: -1px 0px 5px 1px rgb(139 164 179 / 30%);
}

.presente-box>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.presente-box .presente-header {
    font-size: x-large;
    font-weight: 600;
    color: #9cb2be;
    margin: 15px;
}

.presente-box .presente-foto>img {
    height: 125px;
    width: 125px;
    border-radius: 5px;
    box-shadow: -1px 1px 12px 0px rgb(139 164 179 / 80%);
}

.presente-box .presente-valor {
    font-size: large;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8ba4b3;
}

.presente-box .presente-actions {
    margin: -1px;
    background-color: rgb(139 164 179 / 85%);
    height: 50px;
    color: #FFF;
    font-size: x-large;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presente-box .presente-actions svg {
    margin: 0px 20px;
    cursor: pointer;
}