.main {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; */
    margin: 0 15px;
}

.input-block {
    display: flex;
    flex-direction: column;
    margin: 15px 30px;
}


/* .input-block label {
    font-size: large;
    font-weight: 700;
    font-family: Indie Flower;
    color: #9CB2A5;
}

.input-block input {
    width: 95%;
    height: 50px;
    border: 1px solid #9CB2A5;
    border-radius: 5px;
    font-family: Indie Flower;
    font-size: large;
    color: #adadad;
    font-weight: 600;
    padding-left: 15px;
}

.input-block input:focus {
    outline: none;
}

.input-block input:focus-within {
    padding-left: 15px;
} */

.actions-box {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.voltar-link {
    font-family: Indie Flower;
    font-size: x-large;
    text-align: center;
    font-weight: 500;
    color: #9CB2A5;
    background-color: #FFF;
    padding: 30px;
    margin: 10px 5px;
    border: 1px solid #9CB2A5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100px;
}

.confimar-link {
    font-family: Indie Flower;
    font-size: x-large;
    text-align: center;
    font-weight: 500;
    color: #FFF;
    background-color: #9CB2A5;
    padding: 30px;
    margin: 10px 5px;
    border: 1px solid #9CB2A5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100px;
}

.contatos-box {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.contatos-box p {
    font-family: Indie Flower;
    font-size: large;
    text-align: center;
    color: #9CB2A5;
}

.contatos-box a {
    text-decoration: none;
    color: #8BA4B3;
    font-size: 22px;
}

.contatos-box svg {
    padding-right: 5px;
    /* padding-top: 5px; */
}

.actions-box svg {
    padding-right: 5px;
    padding-top: 5px;
}


/*

.input-block+.input-block {
    margin-top: 1.4rem;
}

.input-block label {
    font-size: 1.4rem;
}

.input-block input {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    
    border: 1px solid #000;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.input-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background: red;
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
} */