@font-face {
  font-family: 'Pompiere';
  src: url('assets/Pompiere-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('assets/NunitoSans-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
